<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>DevTeam by Treld</title>
	<meta charset="UTF-8"/> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!-- build:css assets/css/index.min.css -->	
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/font-awesome.css}" />
	<!-- endbuild -->
	<!-- build:js assets/js/index.min.js -->
<!-- 	<script th:src="@{/js/ajax.js}"></script> -->
<!-- 	<script th:src="@{/js/posts_endpoints.js}"></script> -->
	<script th:src="@{/js/config.js}"></script>
<!-- 	<script th:src="@{/js/scripts.js}"></script> -->
 	<!--endbuild-->

</head>
<body>
	<header>
			<nav>
				<ul>
					<li> <a href="#">Home </a> </li>
					<li> <a href="#"> Categorias </a> </li>
					<li> <a href="#"> Sobre </a> </li>
					<li> <i class="fa fa-search" aria-hidden="true" id="teste"></i> </li>
					<li> <a href="#"> Usuário <i class="fa fa-user" aria-hidden="true"></i> </a> </li>
				</ul>

			</nav>
			<h2 id="treld">TRELD</h2>
		
	</header>
	<main>
			<section class="aw-layout-content  js-content"
			layout:fragment="conteudo"></section>
	</main>
	<footer>TRELD Brasil | contactblog@treld.com.br | www.treld.com.br</footer>
</body>
</html>